.container {
    position: fixed;
    width: 1670px;
    height: 650px;
    background-color: var(--tertiary-color);
    border-radius: 24px;
    margin: 20px;
    top: 145px;
    color: var(--primary-text-color);
    text-align: center;
    padding: 15px;
}

.portfolio {
    padding-top: 15px;
    display: flex;
    columns: 10;
    justify-content: space-around;
    background-color: var(--secondary-color);
    margin: 50px 50px;
    height: 82%;
}

.button {
    width: 40px;
    height: 20px;
    margin: 2.5px;
}

.chartContainer {
    width: 600px;
}