:root {
    --primary-color: #240090;
    --secondary-color: #190061;
    --tertiary-color: #0c0032;
    --quaternary-color: #3500D3;
    --bg-color: #282828;

    --primary-text-color: #fff;
    --secondary-text-color: var($quaternary-color);

    --primary-font: 'Inconsolata', monospace;

    --font-size-light: 200;
    --font-size-regular: 400;
    --font-size-bold: 700;

    --title-font-size: 2.7rem;
    --primary-font-size: 1.15rem;
    --secondary-font-size: 0.8rem;
    --portfolio-font-size: 2rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: var(--primary-font);
}